@import "tailwindcss";

@font-face {
  font-family: "Bukhari";
  src: url("./assets/fonts/Bukhari Script.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-logo: "Bukhari", cursive;

  /* COLORES */
  --color-mangoAmarillo: #FFB85C;
  --color-mangoRosado: #EE8374;
  
  /* Tema Claro */
  --color-fondoClaro1: #FDFCF8;
  --color-fondoClaro2: #ffffff;
  --color-textoPrincipalClaro: #1f2937;
  --color-textoSecundarioClaro: #6b7280;
  --color-bordeClaro: #f3f4f6;
  --color-fondoBotonClaro: #445367;
  --color-textoBotonClaro: #ffffff;

  /* Tema Oscuro */
  --color-fondoOscuro1: #3D4A59;
  --color-fondoOscuro2: #333F4E;
  --color-textoPrincipalOscuro: #ffffff;
  --color-textoSecundarioOscuro: #cbd5e1;
  --color-bordeOscuro: #536479;        
  --color-fondoBotonOscuro: #FFB85C;
  --color-textoBotonOscuro: #1f2937;
  
}